@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{
  background-color: #cccccc;
  color: #73879C;
  font-family: 'Roboto', sans-serif;
  background-image: url('../img/back.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

.card canvas{
  width: 64px;
  height: 64px;
  display: inline-block;
  margin: 0 auto;
}

#app{
  text-align: center;
}

h3{
  text-align: center;
  color: white;
}

.card h3{
  color: #73879C !important;
}
